/* ================================
   Portfolio Stylesheet 
   Author: Roberto Torres
   ================================
*/

/* ==== RESET ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
/* ==== END RESET ==== */

/* ==== GLOBAL ==== */
:root {
    --darkblue: #122A52;
    --baseblue: #203D6E;
    --mediumblue: #3D619D;
    --paleblue: #CCDFFF;
    --darkgold: #A8741B;
    --basegold: #C28F38;
    --mediumgold: #E8B661;
    --palegold: #FFF1CC;
    --black: #030B17;
    --darkgray: #25282D;
    --mediumgray: #404245;
    --lightgray: #9DA5B2;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inconsolata', monospace;
}

body {
    font-family: 'Figtree', Tahoma, Geneva, Verdana, sans-serif;
    color: #25282D;
}

/* ==== END GLOBAL ==== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: var(--baseblue);
    color: white;
}