/* ==== GLOBAL ==== */
:root {
    --darkblue: #0B1A33;
    --baseblue: #203D6E;
    --lightblue: #5589E2;
    --paleblue: #CCDFFF;
    --darkgold: #664713;
    --basegold: #B08233;
    --lightgold: #FCC465;
    --palegold: #FFF1CC;
    --black: #030B17;
    --darkgray: #25282D;
    --basegray: #404245;
    --lightgray: #7C8698;
    --palegray: #E5E5E5;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inconsolata', monospace;
    color: var(--darkblue);
}

body {
    font-family: 'Figtree', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--darkgray);
}

header {
    margin-top: 70px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 4px 8px;
}

h3 {
    font-size: 1.25rem;
}

.subtle {
    font-size: 0.9em;
    font-style: italic;
    color: var(--lightgray);
    display: block;
    /*text-align: left;*/
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

img {
    box-shadow: 0 4px 8px rgba(3, 11, 23, 0.3);
}


.item .case-link {
    text-align: center;
}

.item .rwd-links {
    display: grid;
    grid-template-columns: auto max-content 3rem max-content auto;
    margin-top: -8px;
}

    .item .rwd-links .left {
        grid-column-start: 2;
    }

    .item .rwd-links .right {
        grid-column-start: 4;
    }