/* ==== GLOBAL ==== */
:root {
    --darkblue: #0B1A33;
    --baseblue: #203D6E;
    --lightblue: #5589E2;
    --paleblue: #CCDFFF;
    --darkgold: #664713;
    --basegold: #B08233;
    --lightgold: #FCC465;
    --palegold: #FFF1CC;
    --translucentgold: rgba(255, 241, 204, 50%);
    --black: #030B17;
    --darkgray: #25282D;
    --basegray: #404245;
    --lightgray: #7C8698;
    --palegray: #E5E5E5;
    --titlefont: 'Inter', sans-serif;
    --bodyfont: 'Figtree', Tahoma, Geneva, Verdana, sans-serif;
    --iconfont: "Material Symbols Outlined";
    --monofont: 'Inconsolata', monospace;
    --h1size: clamp(2rem, 5vw, 3rem); /* Scales based on viewport width */
    --h2size: clamp(1.75rem, 4vw, 2.5rem);
    --h3size: clamp(1.5rem, 3vw, 2rem);
    --h4size: clamp(1.25rem, 2vw, 1.75rem);
    --largerbodysize: clamp(1.1rem, 2vw, 1.5rem);
    --bodysize: clamp(1rem, 2vw, 1.125rem);
    --smallerBodySize: clamp(.9rem, 2vw, 1.1rem);
    --navbarHeight: 70px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', sans-serif;
    color: var(--baseblue);
    line-height: 1.2;
    margin: 1em 0 0.25em 0;
}

h1 {
    font-size: var(--h1size);
    font-weight: 850;
    letter-spacing: 0.02em;
}

h2 {
    font-size: var(--h2size);
    font-weight: 700;
}

h3 {
    font-size: var(--h3size);
    font-weight: 600;
}

h4 {
    font-size: var(--h4size);
    font-weight: 550;
}

h5 {
    font-size: var(--largerbodysize);
    font-weight: 500;
}

body {
    font-size: var(--bodysize);
    line-height: 1.6;
    font-family: var(--bodyfont);
    color: var(--darkgray);
    line-height: 1.6;
}

#Container {
    width: 90%;
    max-width: 1470px;
    margin-top: calc(var(--navbarHeight) + 10px);
    margin-left: auto;
    margin-right: auto;
}

/* Helper classes */
.subtle {
    font-size: 0.9em;
    font-style: italic;
    color: var(--lightgray);
}

.bold {
    font-weight: 800;
}

.unbold {
    font-weight: normal !important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.block {
    display: block;
}

.flat   {
    box-shadow: none;
}

/* END Helper classes */

img {
    box-shadow: 0 4px 8px rgba(3, 11, 23, 0.3);
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

blockquote {
    font-style: italic;
    border-left: 4px solid var(--paleblue);
    padding-left: 16px;
    margin-left: 0;
    color: var(--baselinegray);
    margin-bottom: 1rem;
    line-height: 1.4;
}



.item .case-link {
    text-align: center;
}

.item .rwd-links {
    display: grid;
    grid-template-columns: auto max-content 3rem max-content auto;
    margin-top: -8px;
}

    .item .rwd-links .left {
        grid-column-start: 2;
    }

    .item .rwd-links .right {
        grid-column-start: 4;
    }

/* styling the list-item number */
ol {
    padding-left: 1.25em;
    color: var(--baseblue);
    font-weight: 900;
    font-family: var(--titlefont);
}

ol.plain {
    color: var(--darkgray);
    font-weight: normal;
    font-family: var(--bodyfont);
    font-size: var(--largerbodysize);
}

ol.h3,
ul.h3 {
    font-family: var(--titlefont);
    font-size: var(--h3size);
    font-weight: 500;
}

ol.h3 span,
ul.h3 span {
    font-size: var(--bodysize);
}

li h3 {
    margin: 0;
}

ol ul {
    font-family: var(--bodyfont);
    color: var(--darkgray);
    font-weight: normal;
}

ol ol {
    padding-left: 1.2rem; /* Indent second-level ordered lists */
    font-family: var(--bodyfont);
    color: var(--darkgray);
    font-weight: normal;
    font-size: var(--largerbodysize);
}

ul:not(.breadcrumb) {
    /* padding-left: 1.75rem; */
    font-size: var(--bodysize);
}

ul li {
    margin-top: .5rem;
}

ol.no-dots,
ul.no-dots {
    list-style-type: none;
}

li {
    margin-bottom: 1.2rem;
}

li.check::before {
    content: "✔"; /* Unicode checkmark */
    color: green;
    font-weight: bold;
    margin-right: 8px; /* Adds spacing */

}

li.avoid::before {
    content: "❌";
    color: var(--lightgold);
    font-weight: bold;
    margin-right: 8px; /* Adds spacing */
}


#Testimonial.highlighted-box {
    background-color: var(--translucentgold);
    border-left: 6px solid var(--lightgold);
    margin: 2rem 0;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    font-style: italic;
}

#Testimonial .quote {
    font-size: var(--bodysize);
    margin-bottom: 0.5rem;
}

#Testimonial .attribution {
    font-size: var(--smallerBodySize);
    font-style: normal;
    color: var(--basegray);
}
