/* ==== GLOBAL ==== */
:root {
    --darkblue: #122A52;
    --baseblue: #203D6E;
    --mediumblue: #3D619D;
    --lightblue: #6895E3;
    --paleblue: #CCDFFF;
    --darkgold: #A8741B;
    --basegold: #C28F38;
    --mediumgold: #E8B661;
    --palegold: #FFF1CC;
    --black: #030B17;
    --darkgray: #25282D;
    --mediumgray: #404245;
    --lightgray: #9DA5B2;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inconsolata', monospace;
    color: var(--darkblue);
}

body {
    font-family: 'Figtree', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--darkgray);
}

header {
    margin-top: 70px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 4px 8px;
}

h3 {
    font-size: 1.25rem;
}

.post-meta {
    font-size: 0.9em;
    font-style: italic;
    color: var(--mediumgray);
    display: block;
    margin-bottom: 4px;
    text-align: left;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

img {
    box-shadow: 0 4px 8px rgba(3, 11, 23, 0.3);
}