
/* ==== HERO ==== */
header {
    text-align: center;
}

header img {
    border-radius: 15%;
    width: 50%;
    margin: 20px auto 12px auto;
    max-width: 288px;
    transform: rotatey(180deg);
    text-align: center;
}

header p {
    width: 90%;
    margin: auto;
    padding: .5em;
    font-size: 1.1rem;
    line-height: 1.5;
}

header a {
    display: block;
}

header a.btn-primary {
    width: 70%;
    max-width: 300px;
}

/* ==== END HERO ==== */

section {
    width: 100%;
    margin: 2rem auto 2rem auto;
    text-align: center;
    padding: 4% 6% 4% 6%;
}
    section h2 {
        text-align: left;
        margin: 0 0 .25rem 0;
        padding: 0;
    }

    section h3 {
        text-align: left;
        margin: .5rem 0 .20rem;
    }

        section h3 a {
            padding-left: 0;
        }

    section img {
        width: 100%;
        filter: saturate(0);
    }
        section img:hover {
            filter: saturate(100%);
        }

    section p {
        padding: 4px 4px 8px 0;
        text-align: left;
    }

    section .btn {
        width: 70%;
        margin: .5em auto .75em auto;
        max-width: 300px;
    }

section#Featured {
    background-color: var(--palegold);
}

.item {
    margin-bottom: 1rem;
    text-align: left;
}

.item a {
    font-family: var(--titlefont);
}


/* Styles for desktop */
@media (min-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 10% 5% 5% 5%;
    }
    
    header img {
        grid-row-start: 1;
        grid-column-start: 1;
        margin: auto;
        max-width: 300px;
    }

    header div {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    section#Featured .item {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    section#Featured .item h3 {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    section#Featured .item img {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    section#Featured .item p {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    section#Featured .item a {
        grid-row-start: 2;
        grid-column-start: 1;
    }
}