/* ==== NAVIGATION BAR ==== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em 1.5em .3em 1.5em;
    background: var(--baseblue);
    color: white;
    font-family: var(--titlefont);
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s; /* Smooth hiding animation */
    z-index: 1000; /* Ensures it stays on top */
    box-shadow: 0 4px 5px rgba(3, 11, 23, 0.3);
}

.hidden {
    top: -60px; /* Moves navbar out of view */
}

.visually-hidden { /* For screen readers */
    /* Hide element visually but keep it accessible for screen readers */
    position: absolute !important;
    width: 1px; 
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.navbar a,
.navbar a:visited{
    color: white;
}

#logo a {
    text-decoration: none;
    color: var(--lightblue);
    font-family: var(--titlefont);
    text-shadow: 0px 4px 4px rgba(3, 11, 23, 0.5);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#logo a:hover {
    text-shadow: none;
    text-decoration: underline;
    color: var(--lightgold);
}


/* DESKTOP MENU */
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--lightold);
}

/* MOBILE MENU */
.menu-toggle {
    display: none;  /* Hidden by default */
    font-size: 1.8rem;
    cursor: pointer;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show hamburger icon */
        padding: 0 12px;
    }

    .nav-links {
        display: none;  /* Hide menu initially */
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background: var(--lightblue);
        padding: 15px 0;
        text-align: center;
        gap: 10px;
        box-shadow: 0 4px 5px rgba(3, 11, 23, 0.3);
    }

    .nav-links a {
        display: block;
        padding: 4px;
    }

    .nav-links.show {
        display: flex;  /* Show menu when toggled */
        z-index: 999;
    }

    #logo a::after {
        content: "RT";
    }
}



.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 100%;   /* Makes sure it doesn't exceed the available space */
}

.breadcrumb li {
    display: inline;
    font-size: var(--smallerBodySize);
}

.breadcrumb li:first-child::before {
    content: "";
}

.breadcrumb li::before {
    content: " > ";
    padding: 0 4px 0 8px;
}

.breadcrumb a {
    color: var(--lightblue);
}

@media (max-width: 768px) {
    .breadcrumb li:last-child {
        display: none;
    }

    .breadcrumb li:last-child::before {
        content: ""; /* Removes separator after the last item */
    }
}

/* Styles for tablet */
@media (min-width: 769px) {
    
    #logo a::after {
        content: "Roberto T.";
    }
}

/* Styles for desktop */
@media (min-width: 1024px) {
    
    #logo a::after {
        content: "Roberto Torres";
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        gap: 30px;
    }
}
