header {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section {
    text-align: center;
    padding: 4px 5% 2rem 5%;
}

    section#case-studies {
        background-color: var(--translucentgold);
    }

        section#case-studies .subtle {
            text-align: center;
        }

    section#rwd-projects {
        background-color: rgba(204, 223, 255, 50%);
    }

    section h2 {
        padding-left: 0;
        text-align: left;
    }

    section p {
        margin: 4px auto 4px;
        text-align: left;
    }

    section img {
        filter: saturate(0);
    }
        section img:hover {
            filter: saturate(100%);
        }

.item {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

    .item p, .item h3 {
        text-align: left;
    }

    .item a {
        display: inline-block;
        font-weight: 600;
        font-family: var(--titlefont);
    }

    .item a[target="_blank"]::after {
        content: none;
    }


#DownloadPortfolio {
    text-align: center;
    margin-top: 2em;
}