header, main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

header p {
    font-size: var(--largerbodysize);
    margin-bottom: 1rem;
}


img {
    margin: .25rem auto 1rem auto;
    border-radius: 1.5rem;
}


/* individual writing page */
main p {
    margin-bottom: 1.2em;
}

/* writings list page */
main .item p {
    margin-bottom: .25em;
}

.item {
    margin-bottom: 1.75em;
}

.item h2,
.item a {
    padding-left: 0;
}

.bottom-nav {
    display: grid;
    grid-template-columns: min-content auto min-content;
    margin: 1rem;
}

    .bottom-nav a {
        display: inline-block;
    }

    .bottom-nav .left{
        grid-column-start: 1;
    }

    .bottom-nav .right{
        text-align: right;
        grid-column-start: 3;
    }

    

.definition {
    font-size: var(--largerbodysize) !important;
} 

.example {
    font-style: italic;
    color: var(--baselinegray);
}

img#IntuitiveUI {
    max-width: 679px;
}

ul.no-dots,
ol.no-dots {
  list-style-type: none;
  padding-left: 0;
}
