header, main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

header p {
    font-size: var(--largerbodysize);
    margin-bottom: 1rem;
}


img {
    width: 100%;
    margin: .25rem auto 1rem auto;
    border-radius: 1.5rem;
}


/* individual writing page */
main p {
    margin-bottom: 1.2rem;
}

/* writings list page */
main .item p {
    margin-bottom: .25em;
}

.item {
    margin-bottom: 1.75rem;
}

.item h2,
.item a {
    padding-left: 0;
}

.bottom-nav {
    display: grid;
    grid-template-columns: min-content auto min-content;
    margin: 1rem;
}

    .bottom-nav a {
        display: inline-block;
    }

    .bottom-nav .left{
        grid-column-start: 1;
    }

    .bottom-nav .right{
        text-align: right;
        grid-column-start: 3;
    }

    
blockquote {
    font-style: italic;
    border-left: 4px solid var(--paleblue);
    padding-left: 16px;
    margin-left: 0;
    color: var(--baselinegray);
    margin-bottom: 1rem;
    line-height: 1.4;
}

/* styling the list-item number */
ol {
    padding-left: 1.75rem;
    color: var(--baseblue);
    font-weight: 900;
    font-family: var(--titlefont);
}

ol.plain {
    color: var(--darkgray);
    font-weight: normal;
    font-family: var(--bodyfont);
    font-size: var(--largerbodysize);
}

ol.h3,
ul.h3 {
    font-family: var(--titlefont);
    font-size: var(--h3size);
    font-weight: 500;
}

ol.h3 span,
ul.h3 span {
    font-size: var(--bodysize);
}

li h3 {
    margin: 0;
}

ol ul {
    font-family: var(--bodyfont);
    color: var(--darkgray);
    font-weight: normal;
}

ol ol {
    padding-left: 1.2rem; /* Indent second-level ordered lists */
    font-family: var(--bodyfont);
    color: var(--darkgray);
    font-weight: normal;
    font-size: var(--largerbodysize);
}

ul {
    padding-left: 1.75rem;
    font-size: var(--bodysize);
}

ul li {
    margin-top: .5rem;
}

ol.no-dots,
ul.no-dots {
    list-style-type: none;
}

li {
    margin-bottom: 1.2rem;
}

li.check::before {
    content: "✔"; /* Unicode checkmark */
    color: green;
    font-weight: bold;
    margin-right: 8px; /* Adds spacing */

}

li.avoid::before {
    content: "❌";
    color: var(--lightgold);
    font-weight: bold;
    margin-right: 8px; /* Adds spacing */
}

.definition {
    font-size: var(--largerbodysize) !important;
} 

.example {
    font-style: italic;
    color: var(--baselinegray);
}

img#IntuitiveUI {
    max-width: 679px;
}